.header {
    background-image: url('/Lalibela-bg-2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  }
  
  .header .container-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .header nav a {
    margin-left: 1rem;
  }
  
  .header .text-left {
    position: absolute;
    bottom: 20%;
    left: 5%;
  }
  
  .header-title {
    font-size: 5rem; /* Increase the font size */
    line-height: 1.2;
    text-align: left;
    margin-top: 1.5rem;
  }
  
  .header-title span.block {
    display: block;
  }
  
  .header .icon-color {
    color: yellow; 
  }
  
  .header .logo-text {
    display: flex;
    align-items: flex-start;
  }
  
  @media (max-width: 768px) {
    .header-title {
      text-align: center;
    }
    .header nav {
      display: none;
    }
    .header .container-header {
      flex-direction: column;
      align-items: flex-start;
    }
    .header-title {
      font-size: 2rem; 
    }
    .header .text-left {
      bottom: 10%;
      left: 2%;
    }
    .header .filter-options {
      justify-content: center;
    }
  }
  
  @media (max-width: 1000px) {
    .header-title {
      text-align: center;
    }
    .header nav {
      display: none;
    }
    .header .container-header {
      flex-direction: column;
      align-items: flex-start;
    }
    .header-title {
      font-size: 2rem; 
    }
    .header .text-left {
      bottom: 10%;
      left: 2%;
    }
    .header .filter-options {
      justify-content: center;
    }
  
  }
  