.header {
    background-image: url('/Lalibela-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
  }
  
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header nav a {
    margin-left: 1rem;
  }
  
  .header .text-left {
    position: absolute;
    bottom: 20%;
    left: 5%;
  }
  
  .header-title {
    font-size: 5rem; /* Increase the font size */
    line-height: 1.2;
    text-align: left;
    margin-top: 1.5rem;
  }
  
  .header-title span.block {
    display: block;
  }
  
  .header .icon-color {
    color: yellow; /* Change this to the color you want for the icon */
  }
  
  .header .logo-text {
    display: flex;
    align-items: center; /* Center logo and text vertically */
  }
  
  @media (max-width: 768px) {
    .header-title {
      text-align: center;
    }
    .header nav {
      display: none;
    }
    .header .container {
      flex-direction: column;
      align-items: center;
    }
    .header-title {
      font-size: 2rem; /* Adjust font size for smaller screens */
    }
    .header .text-left {
      bottom: 10%;
      left: 2%;
    }
    .header .filter-options {
      justify-content: center;
    }
  }
  
  @media (max-width: 1000px) {
    .header-title {
      text-align: center;
    }
    .header nav {
      display: none;
    }
    .header .container {
      flex-direction: column;
      align-items: center;
    }
    .header-title {
      font-size: 2rem; /* Adjust font size for smaller screens */
    }
    .header .text-left {
      bottom: 10%;
      left: 2%;
    }
    .header .filter-options {
      justify-content: center;
    }
  
  }
  